@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@message</p>

<button class="btn btn-primary" @onclick="OnButtonClick">Click me!</button>


@code {
    private string message;

    private void OnButtonClick()
    {
        message = "Hello World!";

        Console.WriteLine(message);
    }
}