@using Domain.Models

@if (Accounts is not null)
{
    <table class="table table-striped">
        <thead>
           @HeaderTemplate
        </thead>
        
        <tbody>

            @foreach (var account in Accounts)
            {
                @RowTemplate(account)
            }

        </tbody>

    </table>
}

@code {

    [Parameter, EditorRequired]
    public required IEnumerable<Account> Accounts { get; set; }

    [Parameter]
    public RenderFragment? HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<Account> RowTemplate { get; set; }
}