<h3>Child Component</h3>

<h4>@Title</h4>

<p>@Description</p>

<p>@Progress</p> 

<p>@Account.Balance</p>

@code {

    [CascadingParameter]
    public int Progress { get; set; }

    [CascadingParameter(Name = "a")]
    public string Title { get; set; }

    [CascadingParameter(Name = "b")]
    public string Description { get; set; }

    [CascadingParameter]
    public Account Account { get; set; }
}
